<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>

<div class="container"  ng-app="myApp" ng-controller="myCtrl">
    <h2 align="center">Add Activity Type</h2>
    <form id="actionActionForm">
        <br> <br>

        <div th:if="${!activityQuestionDTOList.isEmpty()}">
            <div th:each="activityQuestionDTO,itr:${activityQuestionDTOList}">


                <div><label th:text="${activityQuestionDTO.getActivityName()}"
                            th:value="${activityQuestionDTO.getId()}" id="activityType"
                            name="activityTypeId" class="json"></label>
                    <input type="text" class="json form-control col-md-4" placeholder="Enter Comments"
                           name="userAction"  ng-model="activity.userAction" />


                    <div th:if="${activityQuestionDTO.getActivityTypeId()} != '0'">
                        <div class="form-group"
                             th:if="${!activityQuestionDTO.getActivityTypeDetailsDTOList().isEmpty()}">
                            <br> <br>
                            <label>Activity Type:</label>
                            <select id="select" class="json form-control" name="activityTypeDetailId" ng-model="activity.activityTypeDetailId">
                                <option value="">Select Activity Type</option>
                                <option th:each="activityTypeDTO : ${activityQuestionDTO.getActivityTypeDetailsDTOList()}"
                                        th:text="${activityTypeDTO.getName()}"
                                        th:value="${activityTypeDTO.getId()}"></option>
                            </select>
                        </div>
                    </div>


                    <br><br>

                </div>


            </div>
            <br>
        </div>

        <div align="center">
            <button id="submitBtn" type="submit" class="btn btn-default" ng-submit="saveData()" > Submit</button>
        </div>
    </form>
</div>
</body>
</html>

<script>


 /*   $(document).ready(function () {
        $('#submitBtn').click(function () {
            createJSON();
        });
    });


    function createJSON() {
        jsonObj = [];
        console.log("--------------------------->" + jsonObj);
        $("input[class=json]").each(function () {

            console.log("------------------1111--------->" + jsonObj);

            var userAction = $(this).attr("userAction");
            var activityTypeId = $(this).attr("activityTypeId").val();
            var activityTypeDetailId = $(this).attr("activityTypeDetailId").val();

            console.log("------------------1111--------->" + userAction);

            item = {}
            item ["userAction"] = userAction;
            item ["activityTypeId"] = activityTypeId;
            item ["activityTypeDetailId"] = activityTypeDetailId;

            jsonObj.push(item);
        });

        console.log("------------------ENDDDDD--------->" + jsonObj);
    }
*/
 var app = angular.module("myApp", []);
 app.controller("myCtrl", function($scope) {
     $scope.saveData = function () {
         console.log($scope.activity);
     }
 });

    /* $(document).ready(function () {

         // SUBMIT FORM
         $("#actionActionForm").submit(function (event) {
             // Prevent the form from submitting via the browser.
             event.preventDefault();
             ajaxPost();
         });

         function resetData() {
             $("#activityTypeId").val("");
             $("#activityTypeDetailId").val("");
             $("#userAction").val("");
         }
     })*/


</script>
